@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

@import "tailwindcss";

@theme {
  --color-primary: #D3A523;
  --color-secondary: #352B1E;
  --color-dark: #000000;
  --color-gray: #363636;
  --color-light: #F0F0F0;
  
  --font-heading: "Bebas Neue", sans-serif;
  --font-body: "DM Sans", sans-serif;
}

body {
  font-family: var(--font-body);
  background-color: var(--color-dark);
  color: var(--color-light);
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
}
